<!-- Render navigation bar along all the pages -->
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline mt-2 mt-md-0 mx-auto" action="/scrape">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter URL..." name="url">            
            <button class="btn btn-primary my-2 my-sm-0" type="submit">GET</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>
